section {
    margin-bottom: 2rem;
  }
  
  h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background: #e7e7e7;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
  }
  